{
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "max-line-length": 120,
    "font-family-name-quotes": ["always-unless-keyword", { "severity": "warning" }],
    "no-descending-specificity": null,
    "block-no-empty": [true, { "severity": "warning" }],
    "no-duplicate-selectors": [true, { "severity": "warning" }],
    "declaration-block-no-duplicate-properties": [true, { "severity": "warning" }]
  }
}
